@keyframes shake {
  0%,
  100% { transform: translateX(0); }
  10% { transform: translateX(-9px); }
  20% { transform: translateX(8px); }
  30% { transform: translateX(-7px); }
  40% { transform: translateX(6px); }
  50% { transform: translateX(-5px); }
  60% { transform: translateX(4px); }
  70% { transform: translateX(-3px); }
  80% { transform: translateX(2px); }
  90% { transform: translateX(-1px); }
}

/* 优先级：
 1. 主题变量 --vp-c-*
 2. 插件配置变量 --encrypt-*
 3. 官方默认值
*/
:root {
  --encrypt-c-bg: #ffffff;
  --encrypt-c-text: #213547;
  --encrypt-c-text-mute: #888;
  --encrypt-c-border: #e5e7eb;
  --encrypt-c-shadow: 2px 2px 10px 6px var(--vp-c-shadow);
  --encrypt-c-accent-bg: #3eaf7c;
  --encrypt-c-accent-hover: #329669;
  --encrypt-c-white: #ffffff;
  --encrypt-t-color: 0.3s;
  --encrypt-navbar-height: 4rem;
}

.vp-decrypt-layer {
  z-index: 99;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  /* 布局变量 */
  height: calc(80vh - var(--vp-navbar-height, var(--encrypt-navbar-height)));
  margin-top: var(--vp-navbar-height, var(--encrypt-navbar-height));

  text-align: center;

  &.expand {
    margin-top: 0;
  }
}

.vp-decrypt-modal {
  width: calc(100% - 8rem);
  max-width: 420px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;

  box-shadow: var(--encrypt-c-shadow, 2px 2px 10px 6px rgba(0,0,0,0.15));
  transition: box-shadow var(--vp-t-color, var(--encrypt-t-color));

  @media (max-width: 959px) {
    width: calc(100% - 5rem);
    padding: 1.5rem;
  }

  @media (max-width: 480px) {
    width: calc(100% - 3rem);
    box-shadow: none;
  }
}

.vp-decrypt-hint {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2;

  &.tried {
    color: #f00;
    animation: shake 0.5s ease-out both;
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}

.vp-decrypt-input {
  display: flex;

  input {
    width: 100%;
    margin-top: 1.25rem;
    padding: 0 1.5rem;
    border: 2px solid var(--vp-c-accent-bg, var(--encrypt-c-accent-bg));
    border-radius: 0.5rem;

    background: var(--vp-c-bg, var(--encrypt-c-bg)) !important;
    color: var(--vp-c-text, var(--encrypt-c-text)) !important;
    outline: none;
    font-size: 1rem;
    line-height: 2;
    transition:
            background var(--vp-t-color, var(--encrypt-t-color)),
            color var(--vp-t-color, var(--encrypt-t-color));
  }
}
.vp-remember-password {
  margin-top: 0.5rem;
  color: var(--vp-c-text-mute, var(--encrypt-c-text-mute));
  font-size: 14px;
  text-align: start;

  input[type="checkbox"] {
    position: relative;
    vertical-align: text-bottom;
    height: 1em;
    margin-inline-end: 18px;
    cursor: pointer;
    appearance: none;

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 14px;
      height: 14px;
      border: 1px solid var(--vp-c-border, var(--encrypt-c-border));
      border-radius: 50%;
      background: var(--vp-c-control, rgba(142, 150, 170, .1));
      text-align: center;
      visibility: visible;
    }

    &:checked {
      &::after {
        border-color: var(--vp-c-accent-bg, var(--encrypt-c-accent-bg));
        background: var(--vp-c-accent-bg, var(--encrypt-c-accent-bg));
      }

      &::before {
        content: "";
        position: absolute;
        inset-inline-start: 5px;
        top: 2px;
        z-index: 1;
        width: 2px;
        height: 6px;
        border: solid var(--vp-c-white, var(--encrypt-c-white));
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  label {
    display: inline-block;
  }
}

.vp-decrypt-submit {
  width: 70px;
  margin-top: 1.5rem;
  border-width: 0;
  border-radius: 0.5rem;
  background: var(--vp-c-accent-bg, var(--encrypt-c-accent-bg));
  color: var(--vp-c-text, var(--encrypt-c-text));
  outline: none;
  font-size: 1.2rem;
  line-height: 2;
  transition: color var(--vp-t-color, var(--encrypt-t-color));

  &:hover {
    background: var(--vp-c-accent-hover, var(--encrypt-c-accent-hover));
  }
}

